<div class="container nav-collapse" >
  <ul class="nav">
    <% Partition.visible.each  do |part| %>
       <li><%= link_to part.head, partitions_path  %></li>
    <% end %>
  </ul>
</div><!--/.nav-collapse -->