<h1>Main#admin</h1>
<p>Find me in app/views/main/admin.html.erb</p>


<%= nav_bar :fixed => :top, :brand => "Fashionable Clicheizr 2.0", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_divider %>
        <%= drop_down "Products" do %>
            <%= menu_item "Things you can't afford", '' %>
            <%= menu_item "Things that won't suit you anyway", '' %>
            <%= menu_item "Things you're not even cool enough to buy anyway", '' %>
            <%# if current_user.lives_in_hackney? %>
                <%#= menu_item "Bikes", '' %>
            <%# end %>
        <% end %>
        <%= menu_item "About Us", '' %>
        <%= menu_item "Contact", '' %>
    <% end %>
    <%= menu_group :pull => :right do %>
        <%# if current_user %>
            <%#= menu_item "Log Out", '' %>
        <%# else %>
            <%#= form_for @user, :url => session_path(:user), html => {:class=> "navbar-form pull-right"} do |f| -%>
            <%#= form_tag  :url => 'session_path(:user)', html => {:class=> "navbar-form pull-right"} do  -%>
              <p><%= text_field_tag :email %></p>
              <p><%= password_field_tag :password %></p>
              <p><%= submit_tag "Sign in" %></p>
            <%# end -%>
        <%# end %>
    <% end %>
<% end %>

          <div class="span3">
            <div class="well sidebar-nav">
              <h3>Sidebar</h3>
              <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li><%= link_to "Link1", "/path1"  %></li>
                <li><%= link_to "Link2", "/path2"  %></li>
                <li><%= link_to "Link3", "/path3"  %></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->