


<!--
<div class="hero-unit">
<h1>Hello, world!</h1>
<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
-->

        <div class="row">
          <div class="span9">
            <%= content_tag :a, "Modal", :href => "#modal", :class => 'btn', :data => {:toggle => 'modal'} %>
            <%= modal_dialog :id => "modal",
         :header => { :show_close => true, :dismiss => 'modal', :title => 'Modal header' },
                 :body   => 'This is the body',
                 :footer => content_tag(:button, 'Save', :class => 'btn') %>
            <%= bootstrap_flash %>
          </div>

        </div><!--/row-->


      <div class="row">
        <div class="span12 red_left">
          <p> Любому человеку хоть раз в жизни приходила в голову мысль открыть собственное заведение!
          Ресторанный бизнес - красивый, классический, атмосферный, с виду - очень простой, превращается в
          сложнейший квест, как только начинаешь им заниматься! А если хочется иметь еще и прибыльный проект!!!....
          Нужно обладать огромным количеством самых разноплановых компетенций для того чтобы добиться превосходного
          результата!
          </p>
          <p>
Слово «компот» происходит от французского слова сотропеге «составлять, складывать».
Буквально, компот — «составленное» (из разных частей).
          </p>
          <p>
Для того, чтобы успешно заниматься ресторанным бизнесом необходимо обладать экспертными знаниями в таких глобальных областях как маркетинг, производство, финансы, закупки, сервис, психология, право. И это далеко не полный перечень!
«Бюро компотов» - специализированная консалтинговая компания для владельцев ресторанного бизнеса.
          </p>

        </div>
      </div>
 




<div class="row even">
 <h1>Услуги </h1>
  <div class="span4">
   
    <h2>Открыть ресторан </h2>
      <p>Импульсом для открытия ресторана могут послужить самые различные обстоятельства.
        Отличное помещение в собственности, идея, привезенная из-за границы:
        «Хочу сделать такое! Сам! В России!», наличие инвестиционного капитала, кулинарный талант...</p>
      <p>Причин может быть много! Но, практически, никогда не бывает, чтобы один человек обладал всеми
        нужными знаниями и опытом для открытия ресторана.</p>
      <p>Если вы решили открыть ресторан, то самое время звонить в «Бюро Компотов», чтобы докупить недостающие компетенции.</p>
      <p>Вот список того, что может понадобиться для открытия ресторана:</p>
      <p>
        <ul class="gray_left">
          <li>маркетинговый анализ ситуации;</li>
          <li>разработка концепции (формата); </li>
          <li>бизнес-план; </li>
          <li>брендинг, разработка фирменного стиля; </li>
          <li>дизайн и проектирование; </li>
          <li>строительство и ремонт; </li>
          <li>описание и постановка бизнес-процессов; </li>
          <li> меню (концепция, калькуляция, технологические карты, поставщики);</li>
          <li>подбор топ персонала; </li>
          <li>обучение и тренинги персонала (гостеприимство, продажи, сервис, команда); </li>
          <li> получение разрешительной документации;</li>
          <li>разработка и проведение рекламной кампании      </li>
      
        </ul>
      </p>

      <p><a class="btn" href="#">Подробнее &raquo;</a></p>
  </div>

    <div class="span4">
    <h2>Продать ресторан</h2>
      <p>Случаются ситуации когда «проект мечты» превращается в «непрофильный актив».
        Если ресторан уже окупил себя, его можно просто закрыть. Если деньги еще не отработали свое,
        а потребность выйти из проекта уже появилась, то нужно организовать продажу ресторана.
        Что делать, если есть намерение продать ресторан? Обратиться в «Бюро компотов» и мы проведем все
        необходимые мероприятия по продаже ресторана:
      </p>
      <p>
        <ul class="gray_left">
          <li>полный аудит с целью получения объективных данных;</li>
          <li>оптимизация финансов;</li>
          <li>подготовка предложения и поиск покупателя; </li>
          <li>проведение переговоров, сюридическое сопровождение сделки; </li>
          <li>кадровое сопровождение изменений в компании.</li>
        </ul>
      </p>

      <p><a class="btn" href="#">Подробнее &raquo;</a></p>
  </div>

    <div class="span4">
    <h2>Выйти из кризиса</h2>
      <p>Для того, чтобы терять прибыль, достаточно допустить хотя бы одну ошибку в ресторанном деле.
        Например, выбрать формат, который несоответсвует помещению или конкурентному окружению, допустить
        неправильное ценообразование, избыточные складские запасы или высокое списание.
        А если ошибок несколько и они неочевидны для владельцев? Последствия просчетов могут привести к
        отрицательной прибыли. Если эта ситуация сложилась, или есть понимание, что ресторан к ней
        быстро приближается — обращайтесь за консалтингом!
      </p>

      <p>
        <ul class="gray_left">
          <li>полный аудит с целью выявления «проблемных зон»;</li>
          <li>нахождение конретный проблем и предложение способов решения; </li>
          <li>сопровождение изменений в компании. </li>
        </ul>
      </p>
      <p><a class="btn" href="#">Подробнее &raquo;</a></p>
  </div>

    <div class="span4">
    <h2>Построить сеть</h2>
      <p>По статистике, на 5 неуспешных ресторанов, приходится 10 стабильно работающих и 1-2 звездных!
        Обладатели успешных заведений всегда приходят к пониманию того, что они хотят развиваться и
        тиражировать свой успех! Для того, чтоб перейти к строительству сети нужно провести целый ряд работ,
        без которых успех невозможен:
      </p>

      <p>
        <ul class="gray_left">
          <li>создание управляющей компании;</li>
          <li>разработка бизнес-плана; </li>
          <li>привлечение инвестиций; </li>
          <li>описание и отладка бизнес-процессов; </li>
          <li>подбор персонала; </li>
          <li>обучение и тренинги; </li>
          <li> подбор помещений, с оценкой проходимости.</li>
        </ul>
      </p>
      <p><a class="btn" href="#">Подробнее &raquo;</a></p>
  </div>

    <div class="span4">
    <h2>Подобрать персонал</h2>
      <p>В ресторанном бизнесе как ни в каком другом успех дела зависит от людей,
        которые в нем работают. Помимо профессионализма, знания ресторанных технологий
        очень важно, чтобы специалисты обладали гостеприимством, открытостью, позитивным
        отношением к миру, желанием постоянно учиться новому. Если появилось ощущение, что
        именно персонал торомозит развитие бизнеса, то «Бюро компотов» может помочь в следующих вопросах:
      </p>

      <p>
        <ul class="gray_left">
          <li>кадровый аудит, выявление неформальных лидеров и связей внутри организации;</li>
          <li>аттестация персонала;</li>
          <li>подбор управляющего, шеф-повара и ключевых специалистов;</li>
          <li>подготовка трудовых соглашений, должностных обязанностей и др. документации;</li>
          <li>сопровожение вхождения в должность. </li>
        </ul>
      </p>
      <p><a class="btn" href="#">Подробнее &raquo;</a></p>
  </div>



</div>





<div class="row odd">
 <h1>Команда</h1>
 <div class="span12 red_left">
   <p>Три партнера Юлия Шулика, Елена Хон и Эльвира Пикалёва <br/>
Каждый из нас обладает уникальным опытом работы в ресторанном бизнесе, компетенциями, умениями и связями.
Когда мы начинаем новый проект, мы сначала обсуждаем его вместе, затем распределяем задачи между собой и
приступаем к выполнению. </p>
   <p>
Если нужно для дела, мы приглашаем в нашу команду проверенных партнеров — шеф-поваров и тренеров,
дизайнеров и строителей, маркетологов, специалистов по ГГ и всех тех, чей опыт нужен для текущего проекта.
Благодаря тому, что каждый является в своей узкой сфере специалистом, и при этом, мы идеально понимаем
друг друга, у нас получается создавать качественный продукт.</p>
   <p>
Высоким качеством в консалтинге мы считаем умение предложить оптимальное решение проблем клиента.
Самым быстрым, экономичным способом и в самые короткие сроки.</p>
 </div>

 <div class="span4 center">
   <%= image_tag "Juliya.gif" %>
   <h2>Юлия Шулика</h2>
   <p> менеджмент, люди, меню, концепция ресторана, атмосфера, модные тренды</p>
 </div>

 <div class="span4 center">
  <%= image_tag "Elena.gif" %>
   <h2>Елена Хон</h2>
   <p> финансы, внимание к цифрам, инвестиции, оптимизация издержек, бизнес-планирование</p>
 </div>

 <div class="span4 center">
   <%= image_tag "Elvira.gif" %>
   <h2>Эльвира Пикалева</h2>
   <p> маркетинг, продажи, креатив, фишки, красота и дизайн</p>
 </div>

</div>

<div class="row even">
 <h1>Партнеры</h1>
 <div class="span12">
    <%= image_tag "logo/acumory.jpg" %>
    <%= image_tag "logo/beluga.jpg" %>
    <%= image_tag "logo/bowling-city.jpg" %>
    <%= image_tag "logo/el-patio.jpg" %>
    <%= image_tag "logo/gedza.jpg" %>
    <%= image_tag "logo/ginnotaky.jpg" %>
    <%= image_tag "logo/jelki-palky.jpg" %>
    <%= image_tag "logo/korchma.jpg" %>
    <%= image_tag "logo/mizuki.jpg" %>
    <%= image_tag "logo/planeta-sushi.jpg" %>
    <%= image_tag "logo/primasole.jpg" %>
    <%= image_tag "logo/prime.jpg" %>
    <%= image_tag "logo/ris.jpg" %>
    <%= image_tag "logo/vogue.jpg" %>
    <%= image_tag "logo/acumory.jpg" %>
    <%= image_tag "logo/yakitoriya.jpg" %>
 </div>
</div>


<div class="row odd">
 <h1>Отзывы</h1>

 <div class="span4">
   <%= image_tag "Juliya.gif" %>
   <h2>Аркадий Новиков</h2>
   <p> владелец более 40 ресторанов</p>
   <p>Мы строили ресторан «Сыр» в 2001 мы планировали 7 млн доларов, он обошелся нам в 3,5 млн. Юля строила ресторан, тшательный выбор поставщиков и персонал работал в джинсовой одежде в лакшери, демократичные отношения с клиентом новый тренд. Юля — подбор персонала
</p>
 </div>

 <div class="span4">
  <%= image_tag "Elena.gif" %>
   <h2>Олег Семенов</h2>
   <p> владелец ресторанного комплекса «Бульвар»</p>
   <p>
Впервые решив привлечь консультантов для решения бизнес-задач, я опасался, что услышу стандартные «книжные» советы. Но опыт работы с «Бюро компотов» изменил мое отношение к консалтингу в целом. Мы увидели 100% вовлеченность коллег в проект!
Никаких общих рекомедаций! Наш бизнес был исследован детально — мы получили новую информацию о привычных вещах, смогли увидеть блоки в бизнесе, которые его тормозят и ресурсы, которые станут для нас драйверами роста.
«Бюро компотов» подготовили для нас обоснованные рекомендации по коррекции формата, подобрали великолепного управляющего, привнесли новый взгляд на ведение ресторанного бизнеса в целом. Мы поучили больше чем ожидали.</p>
 </div>

 <div class="span4">
   <%= image_tag "Elvira.gif" %>
   <h2>Вадим Лежнин</h2>
   <p> владелец рестораного комплекса «Летний дворец»</p>
   <p>
Летний дворец» - грандиозный проект, не имеющий аналогов. Когда мы его начинали, у нас не было большого ресторанного опыта. Многие вещи мы определяли интуитивно, в процессе создания бизнеса.. По вопросам маркетинга и продаж мы сотрудничали с парнером «Бюро компотов» - Эльвирой Пикалевой. Концепция позиционирования, коммуникации с клиентами, система продаж — все эти важнейшие элементы бизнеса были построены с участием Эльвиры. Креативность, «чувство маркетинга», знание технологий, которые мы приобрели в ее лице сыграли свою роль в том чтобы «Летний дворец» стал таким ярким проектом, которым он является сейчас.</p>
 </div>

</div>




<div class="row even">
 <h1>Идеи для ресторанов</h1>
  <div class="span4">
   <%= image_tag "Juliya.gif" %>
   <h2>Ресторан конфликтной кухни</h2>
    <p> Ресторан конфликтной кухни, который открылся пару лет назад в Питтсбурге, спекулирует на внешней политике Америки: в нем готовят блюда только тех стран, с которыми США находится далеко не в лучших отношениях.
Для каждого вида национальной кухни в этом месте отведена своя особая витрина, оформленная в стиле страны, которой она принадлежит. Раз в полгода витрину переоформляют в соответствии с текущими взаимоотношениями стран.
В этом ресторане можно не только поесть, но и принять участие в онлайн конференции, которые регулярно проводятся хозяевами ресторана. С их помощью посетители их заведения могут общаться с представителями стран- противников США, узнавать их традиции и обычаи, а также обсуждать насущные проблемы, избегая прений относительно внешней политики.
</p>
 </div>

 <div class="span4">
  <%= image_tag "Elena.gif" %>
   <h2>Dream Dinners</h2>
   <p>Этот формат появился в 2003 году в США. Приготовление еды по заказу в специально оборудованных кухнях-студиях. На сайте йгеат йтпегв вывешивается меню на месяц с традиционными и оригинальными блюдами.
Клиенты региструются на сайте и приезжают на кухни в то время, когда будут готовиться выбранные ими блюда.
Им показывают все ингридиенты, демонстрируют этапы приготовления блюда. Приготовленное блюдо подвергается шоковой заморозке, упаковывается, снабжается полной информацией и отдается киенту.
Сессия приготолвения и одновремено — обучения длится около двух часов и стоит примерно 3 доллара. Клиенты экономят время похода по магазинам, усилия по планированию меню, приготовлению и уборке. С собой разрешено приводить детей: сессии построены как занимательные, «дружественные ко всей семье»</p>
 </div>

 <div class="span4">
   <%= image_tag "Elvira.gif" %>
   <h2>Ресторан на крыше</h2>
   <p> Им показывают все ингридиенты, демонстрируют этапы приготовления блюда. Приготовленное блюдо подвергается шоковой заморозке, упаковывается, снабжается полной информацией и отдается киенту. Сессия приготолвения и одновремено Ресторан конфликтной кухни, который открылся пару лет назад в Питтсбурге, спекулирует на внешней политике Америки: в нем готовят блюда только тех стран, с которыми США находится далеко не в лучших отношениях. Для каждого вида национальной кухни в этом месте отведена своя осо — обучения длится около двух часов и стоит примерно 3 доллара. Клиенты экономят время похода по магазинам, усилия по планированию меню, приготовлению и уборке. С собой разрешено
</p>
</div>

</div>


<div class="row odd">
 <h1>Инвесторам</h1>
  <div class="span12">
    <p> Мы всегда улавливаем самый свежий тренд и стремимся быть созвучными.
      Ресторан конфликтной кухни, который открылся пару лет назад в Питтсбурге, спекулирует на
      внешней политике Америки: в нем готовят блюда только тех стран, с которыми</p>
 </div>


</div>