<%= form_for(@partition) do |f| %>
  <% if @partition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partition.errors.count, "error") %> prohibited this partition from being saved:</h2>

      <ul>
      <% @partition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :img %><br />
    <%= f.text_field :img %>
  </div>
  <div class="field">
    <%= f.label :head %><br />
    <%= f.text_area :head %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :foot %><br />
    <%= f.text_area :foot %>
  </div>
  <div class="field">
    <%= f.label :part %><br />
    <%= f.text_field :part %>
  </div>
  <div class="field">
    <%= f.label :is_close %><br />
    <%= f.check_box :is_close %>
  </div>
  <div class="field">
    <%= f.label :pos %><br />
    <%= f.number_field :pos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
