<h1>Listing partitions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Img</th>
    <th>Head</th>
    <th>Content</th>
    <th>Foot</th>
    <th>Part</th>
    <th>Is close</th>
    <th>Pos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partitions.each do |partition| %>
  <tr>
    <td><%= partition.title %></td>
    <td><%= partition.img %></td>
    <td><%= partition.head %></td>
    <td><%= partition.content %></td>
    <td><%= partition.foot %></td>
    <td><%= partition.part %></td>
    <td><%= partition.is_close %></td>
    <td><%= partition.pos %></td>
    <td><%= link_to 'Show', partition %></td>
    <td><%= link_to 'Edit', edit_partition_path(partition) %></td>
    <td><%= link_to 'Destroy', partition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partition', new_partition_path %>
