<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @partition.title %>
</p>

<p>
  <b>Img:</b>
  <%= @partition.img %>
</p>

<p>
  <b>Head:</b>
  <%= @partition.head %>
</p>

<p>
  <b>Content:</b>
  <%= @partition.content %>
</p>

<p>
  <b>Foot:</b>
  <%= @partition.foot %>
</p>

<p>
  <b>Part:</b>
  <%= @partition.part %>
</p>

<p>
  <b>Is close:</b>
  <%= @partition.is_close %>
</p>

<p>
  <b>Pos:</b>
  <%= @partition.pos %>
</p>


<%= link_to 'Edit', edit_partition_path(@partition) %> |
<%= link_to 'Back', partitions_path %>
