// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: Tahoma;
	color: black;
        font-size: 16px;
}

.even { background-color: white;
    & h1 {color: #942a2e;  font-size: 36px; margin-left: 30px; };
}
.odd { background-color: #f6f6f6;
    & h1 {color: #a7a3a3; font-size: 36px;  margin-left: 30px; };
}

h1 {margin-top: 30px;}
h2 {color: #942a2e;  font-size: 22px;};

.container {}

.navbar .brand{}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
    text-align:center;
}

.navbar-inner {
  
}

.nav-collapse {margin:0 auto; text-align: center;}

.navbar .nav > li > a {text-decoration: underline;}

.span4, span12 {margin-top: 30px;}

.phone {color: #942a2e;  font-size: 22px; float: right; margin-top: 30px;}


.red_left, .gray_left {padding-left: 30px;}

.gray_left {
  background: url(el_04.gif), url(el_01.gif), url(el_06.gif);

  background-position: 0 0, left bottom, 0px 5px;

  background-repeat: no-repeat, no-repeat, repeat-y;

  list-style: none;

}

.red_left {
  background: url(el_02.gif), url(el_03.gif), url(el_05.gif);

  background-position: 0 0, left bottom, 0 5px;

  background-repeat: no-repeat, no-repeat, repeat-y;


}


.center {text-align: center;}